**/__pycache__ /
.venv/
.env
frontend/.env
backend/.env
*.pyc
.uv
skills/
GEMINI.md
Google io shot/
docs/MOTION_STRATEGY.md
docs/PITCH_STRATEGY.md
.gemini/settings.json
backend/agents/AETHEX_DOCS.md
node_modules

